body{
    overflow: hidden;
}
.background{
    background: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0.5));
    background-image: url(/src/imagens/2000x1080.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}



.cabecalho-link{

    display: flex;
   justify-content: space-between;
    gap: 3rem;
    font-weight: 300;

}
.cabecalho-link a{
    max-width: 100vw;
    max-height: 50vh;
    margin: 0px 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.home:hover{
    transition: 0.5s;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 10px;  
}
.sobre:hover{
    transition: 0.5s;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 10px;  
}
.servicos:hover{
    transition: 0.5s;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 10px;  
}
.trabalho:hover{
    transition: 0.5s;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    border-radius: 10px;  
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
   align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}
.logo:hover{
  transform: scale(1.05);
  cursor: pointer; 
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}
button{
   
    color: #2ecc71;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#juan:hover{
    transform: scale(1.05);
    background-color:  #2ecc71;
    color: #fff;
    transition: 0.5s;
    
}
.catain-text{
    color: #fff;
    padding: 150px 0 0 130px;
}
.text h3{
color: #fff;
font-size: 15px;
}
.texte h1{
    color: #fff;
    margin-top: 10px;
}
.text span{
    color: #2ecc71;
}
.texte p{
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}
.social a{
    color: #2ecc71;
    padding: 10px;
    margin-top: 5;
}
#juan{
    margin-top: 10px;
}
@media only screen and (max-widht: 950px) {
    .cabecalho-link{
        width: 75%;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-widht: 600px) {
    .cabecalho-link{
        flex-direction: column;

    }
}